<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.example.demo.mapper.CodMapper">
 	
 	
 	 
     
     <delete id="deleteCod" parameterType="int">
         DELETE FROM academy
         WHERE cod = #{cod}
     </delete>
     
     <select id="fetchCod" resultType="Integer" parameterType="int"
      >
         SELECT cod FROM academy where cod=#{cod}
     </select>
     
     <insert id="insertCod" parameterType="int">
 		INSERT INTO academy (cod) VALUES
                          (#{cod})
 	</insert>
     
 </mapper>