<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.example.demo.mapper.OmrMapper">
 	
 	
 	  <select id="Omrlist" resultType="com.example.demo.vo.OmrVO"
      parameterType="HashMap">
         SELECT * FROM omr where ban=#{ban} and cod=#{cod}
         order by num desc;
     </select>
     
     <delete id="deleteOmr" parameterType="HashMap">
         DELETE FROM omr
         WHERE ban=#{ban} and cod=#{cod} and num=#{num}
     </delete>
     
     <delete id="deleteBan" parameterType="HashMap">
         DELETE FROM omr
         WHERE ban=#{ban} and cod=#{cod} 
     </delete>
     
     <select id="getOmr" resultType="com.example.demo.vo.OmrVO"
      parameterType="HashMap">
         SELECT * FROM omr 
         WHERE ban=#{ban} and cod=#{cod} and num=#{num}
     </select>
     

      <update id="updateOmr" parameterType="HashMap">
         UPDATE omr
         SET correct=#{correct}, cocount=#{cocount} , expired=#{expired}
         WHERE ban=#{ban} and cod=#{cod} and num=#{num}
     </update>
     
     <insert id="insertOmr" parameterType="com.example.demo.vo.OmrVO">
 		INSERT INTO omr (correct, ban,cod,title,cocount,expired) VALUES
                          (#{correct},#{ban},#{cod},#{title},#{cocount},#{expired})
 	</insert>
 	
 </mapper>